asgiref==3.8.1
Django==5.1.1
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
jmespath==1.0.1
pillow==11.0.0
PyJWT==2.10.0
pytz==2024.2
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.18
x23176245_django_emails==0.0.1